@import '../css/normalize';
$cherry-color: #b01229;
$red-color: #e20000;
*
{
    outline: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body
{
    margin-right: auto;
    margin-left: auto;

    background-color: #000;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a,
a:focus,
a:not(:focus)
{
    transition: .25s linear;
}

a
{
    color: $red-color;
}

a:hover
{
    color: $cherry-color;
}

.row
{
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.clearfix:before
{
    display: table;

    content: '';
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

.clearfix
{
    zoom: 1;
}

.button
{
    display: inline-block;

    min-width: 220px;
    margin: 10px;
    padding: 45px 10px;

    cursor: pointer;
    text-decoration: none;

    color: white;
    border: none;
    border-radius: 3px;
    background: $red-color;
    box-shadow: 0 4px rgba(0, 0, 0, .3);

    font-size: 22px;
}

.button:hover
{
    color: $red-color;
    background-color: white;
}

header
{
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #fff;
}

header .logo
{
    float: left;

    width: 151px;
    height: 60px;

    background-image: url(../img/logo_small.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

section
{
    position: relative;

    padding: 10% 0;

    background-image: url(../img/background_sm.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

section .wrapper
{
    left: 0;

    width: 100%;

    text-align: center;
}

section .wrapper h1
{
    margin-top: 0;

    color: #fff;

    font-size: 52px;
    line-height: 1;
}

footer
{
    text-align: center;

    background-color: #282828;
}

footer > div.row
{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer dl
{
    color: #9d9c9a;

    font-size: 20px;
    font-weight: 700;
}

footer dl > dt
{
    text-transform: uppercase;
}

footer dl > dd
{
    margin: 0;
    padding: 5px 0;
}

footer dl.contact dd:last-child a
{
    color: #fff;
}

footer dl.contact dd:last-child a:hover
{
    color: #9d9c9a;
}

footer ul
{
    padding: 0;
}

footer ul li
{
    display: inline-block;

    padding-right: 12px;
}

footer ul li:first-child
{
    padding-right: 5px;
}

footer a svg
{
    fill: #fff;
}

footer a:hover svg
{
    fill: #9d9c9a;
}

footer .copyright
{
    padding: 20px;

    color: #fff;
    background-color: #000;

    font-size: 14px;
}

@media screen and (min-width: 48em)
{
    .row
    {
        max-width: 48em;
    }
    header .logo
    {
        width: 224px;
        height: 89px;

        background-image: url(../img/logo.png);
    }
    section
    {
        background-image: url(../img/background_md.jpg);
    }
    section .wrapper h1
    {
        font-size: 62px;
    }
    footer > div.row
    {
        width: 500px;

        text-align: left;
    }
    footer dl.society
    {
        margin-right: 135px;
    }
    footer dl.society,
    footer dl.contact
    {
        display: inline-block;

        width: 180px;
    }
}

@media screen and (min-width: 64em)
{
    .row
    {
        max-width: 64em;
    }
    section
    {
        background-image: url(../img/background_xl.jpg);
    }
    section .wrapper h1
    {
        font-size: 70px;
    }
}

@media screen and (min-width: 75em)
{
    .row
    {
        max-width: 75em;
    }
    section
    {
        background-image: url(../img/background_xxl.jpg);
    }
}

@media screen and (min-width: 1920px)
{
    section
    {
        padding: 192px 0;
    }
}

@media screen and (max-width: 29.9375em)
{
    .button
    {
        min-width: 160px;
        padding: 25px 10px;

        font-size: 16px;
    }
    header .logo
    {
        width: 100px;
        height: 40px;
    }
    section .wrapper h1
    {
        font-size: 40px;
    }
}

@media screen and (max-width: 47.9375em)
{
    .button
    {
        min-width: 160px;
        padding: 25px 10px;

        font-size: 16px;
    }
}
