.help {
	.row {
		background-color: $color__grey;
		padding: 50px;
		margin-bottom: 50px;
		border-radius: $border__radius;
		box-shadow: $box__shadow;
	}
	&__number {
		font-size: 3em;
		font-weight: 700;
	}
	.container {
		
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
	}
}