$color__blue: #47b0d5;
$color__blue_darknet: #3b94b2;
$color__dk-blue: #1859ff;



$color__ghostwhite: #f2f2f2;

$color__dark: #000;
$color__black: #4A4A4A;

$color__red: #dd060b;
$color__red_darknet: #a91014;

$color__grey: #efefef;
$color__grey_darknet: #7a7a7a;

$color__white: #fff;

$box__shadow : 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$box__shadow_white : 0 4px 6px rgba(0,0,0,.11), 0 1px 3px rgba(0,0,0,.08);
$text__shadow : 0 3px 6px rgba(0,0,0,.5);



$fSerif: Georgia, Cambria, 'Times New Roman', Times, serif;
$fSans: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fSans-menu: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$border__radius: 6px