.slide {
    position: relative;

    overflow: hidden;

    padding-top: 120px;

    color: $color__white;

    @media (min-width: 768px) {
            padding-top: 210px;
        
    }

    @media (min-width: 1200px) {
        padding-top: 290px;
    }
    h1,
    h2 {
        margin: 0 0 .8em;
        max-width: 700px;
    }
    p {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 1.2em;
        max-width: 800px;
        @media (min-width: 992px) {
            font-size: 18px;
        }
        @media (min-width: 1200px) {
        font-size: 21px;
        }
    }
    .button-block {
        margin-bottom: 4em;
    }
    .container {
        @media screen and (min-width: 1800px) {
            max-width: 1570px;
        }
    }
    .chewron {
        position: absolute;
        bottom: 10px;
        left: 50%;

        width: 130px;
        height: 108px;
        margin-left: -60px;
        padding: 40px;

        transition: all .25s linear;
        &:hover {
            bottom: 20px;

            transition: all .25s linear;
        }
    }
}