section.find
	svg.background(viewBox="0 0 100 33" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-none.d-xl-block(xlink:href="img/take_full.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-block.d-xl-none(xlink:href="img/take_small.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
	.container
		.row
			.col-12.col-md-6.offset-md-6.col-lg-5.offset-lg-7
				h2.lead.lead_title
					|Take part in something that will make a difference, get involved in MS Society fundraising events.
				.text-center
					a.btn.btn-red.btn-rectangle(href="#")
						|Find An Event Near You