section.research
	.container
		.row
			.col
				.lead
					|Reserch
				h2
					|Diet and MS: What does research tell us about supplements?
				.button-block
					a.btn.btn-red.btn-rectangle(href="#")
						|Read more
			.col-auto.d-none.d-xl-block
				.research__container
					ul.list-unstyled
						li
							a(href="#")
								|Research and Treatment News
						li
							a(href="#")
								|About MS Research
						li
							a(href="#")
								|Get Involved in Research
						li
							a(href="#")
								|Funding Announcements
						li
							a(href="#")
								|Treatments in Development
						li
							a(href="#")
								|Progressive MS		
		.button-block.d-xl-none
			a.btn.btn-underline.btn-underline_black(href="#")
				|Go to Research Section