mixin item(title, img)
	.col-12.col-md-6.col-xl-4
		a.tile__item(href="#")
			.container
				svg.background(viewBox="0 0 100 60" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
					image(xlink:href="img/" +img +".jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
					rect(width="100%" height="100%")
			h3.text-center= title

section.tile
	.container
		.row
			+item('Advocacy and Legal','advocacy-legal')
			+item('Assistive Devices Technologies and Medical Supplies','assistive-devices-technologies-medical-supplies')
			+item('Caregivers and Families','caregivers-and-familie')
			+item('Chapter Information','chapter-information')
			+item('Education','education')
			+item('Employment','employment')

			+item('Financial Assistance','financial-assistance')

			+item('For Health Care Professionals','for-health-care-professionals')
			+item('Health and Wellness','health-and-wellness')
			+item('Home Support and Accommodations','home-support-and-accommodations')
			+item('Information Services','information-services')

			+item('Peer Support','peer-support')

			+item('Social Gatherings and Recreation','social-gatherings-and-recreation')

			+item('Travel and Transportation','travel-and-transportation')
			
			+item('Volunteering and Fundraising','volunteering-and-fundraising')
			+item('Youth Programs','youth-programs')