section.update#news
	div(style="width: 100%; position: absolute; overflow: hidden; height:100%; top: 0; bottom: 0; left:0; right: 0;")
		.background(style="width: 100%; height: 100%;")
			svg.svg-icon(width="100%" height="100%" style="fill: rgba(0, 0, 0, .1);")
				use(xlink:href="#svg__background")
	.container
		h2.lead.lead_title.text-center
			|Latest Updates
		.row
			.col-12.col-xl-4.update__news
				.row
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|Funding Decisions – MS Society of Canada 2018 - 2019 Annual Research Grants and Awards Competitions
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Feb 28, 2018  -  4 min read
										.col-auto.update__type
											|News
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|Pamela Valentine – Leading Innovation & Change at the MS Society
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Oct 24, 2018  -  6 min read
										.col-auto.update__type
											|News
				a.btn.btn-underline.btn-underline_black.pt-0.pb-5(href="#")
					|More news
			.col-12.col-xl-4.update__research
				.row
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|Results published from a phase III study of siponimod in secondary progressive multiple sclerosis (SPMS)
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Mar 27, 2018  -  8 min read
										.col-auto.update__type
											|Research
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|International stem cell clinical trial shows stabilized disease and improved disability in MS
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Mar 22, 2018  -  5 min read
										.col-auto.update__type
											|Research
				a.btn.btn-underline.btn-underline_blue.pt-0.pb-5(href="#")
					|More research
			.col-12.col-xl-4.update__events
				.row
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|National Webinar - Coping with the uncertainty of MS
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Apr 12, 2018  -  2 min read
										.col-auto.update__type
											|Events
					.col-12.col-md-6.col-xl-12
						a.update__item(href="#")
							.row.justify-content-between
								.col-auto
									p
										|MS Summer Camp
								.col-auto
									.row.justify-content-between.align-items-center
										.col-auto.update__time
											|Aug 11, 2018  -  3 min read
										.col-auto.update__type
											|Events
				a.btn.btn-underline.btn-underline_red.pt-0.pb-0(href="#")
					|More events