body {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-color: #231f20;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.btn {
    text-transform: uppercase;
    color: #000;
    background-color: #ffd217;
    font-weight: 700;
}

.btn:hover {
    color: lighten(#000, 10%);
    background-color: darken(#ffd217, 10%);
}

.flex-video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 6px;
    background-color: #594527;
}

.flex-video div,
.flex-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

nav {
    padding-top: 35px;
    padding-bottom: 35px;
}

nav .logo {
    height: 67px;
}

nav .btn {
    width: 230px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 19px;
}

section.top {
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

section.top {
    color: #fff;
}

section.top p {
    margin-bottom: 1.3em;
    font-size: 18px;
}

section.top h1,
section.top p.lead {
    margin-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #82714a;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

section.top h1 {
    font-weight: 300;
}

section.top .container-video {
    max-width: 654px;
    margin-right: auto;
    margin-left: auto;
}

section.top .flex-video {
    margin-top: 50px;
    margin-bottom: 70px;
}

section.top p.flee-fight {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

section.top p.flee-fight span {
    position: relative;
    margin-left: 9px;
    padding: 0 2px;
    color: #231f20;
    border: none;
    background-color: #ffd217;
}

section.top p.flee-fight span::before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 -4px;
    padding: 0;
    content: '';
    border: 4px solid transparent;
    border-top: 24px solid #ffd217;
    border-right: 0 solid #ffd217;
    background: none;
}

section.bottom {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: #000;
    background-color: #85754e;
}

section.bottom p {
    margin: 0;
    font-size: 18px;
}

section.bottom .lead {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}

section.bottom h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 700;
}

section.bottom .btn {
    width: 290px;
    margin-top: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 36px;
}

section.bottom hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 3px solid #000;
}

section.bottom img {
    padding-right: 10px;
    padding-left: 10px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #969696;
    background-color: #231f20;
}

footer p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    section.top {
        padding-top: 65px;
        padding-bottom: 100px;
        text-align: center;
    }

    section.top p {
        font-size: 21px;
    }

    section.top h1,
    section.top p.lead {
        letter-spacing: 5px;
        font-size: 45px;
    }

    section.top .flex-video {
        margin-top: 80px;
        margin-bottom: 100px;
    }

    section.top p.flee-fight span {
        margin-left: 11px;
        padding: 0 4px;
    }

    section.top p.flee-fight span::before {
        margin: 0 0 0 -6px;
        border: 6px solid transparent;
        border-top: 28px solid #ffd217;
        border-right: 0 solid #ffd217;
    }

    section.bottom {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    section.bottom p {
        font-size: 21px;
    }

    section.bottom .lead {
        font-family: Muli, Helvetica, Arial, sans-serif;
        font-size: 36px;
    }

    section.bottom h2 {
        font-family: Muli, Helvetica, Arial, sans-serif;
        font-size: 60px;
    }

    section.bottom .btn {
        width: 440px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    section.bottom hr {
        margin-top: 80px;
        margin-bottom: 80px;
        border-top: 5px solid #000;
    }

    footer {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    nav .logo {
        height: 47px;
    }

    nav .btn {
        width: 150px;
        margin-top: 0;
    }
}