.area {
    .container {
        padding: 50px;

        background-color: $color__white;
        box-shadow: $box__shadow;
        border-radius: $border__radius;
        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        @media (max-width: 420px) {
            padding: 25px;
            border-radius: inherit;         }
    }
    h2 {
        font-size: 27px;
        margin-bottom: 30px;

        @media (min-width: 768px) {
            font-size: 32px;
            margin-bottom: 33.75px;
        }
        @media (min-width: 992px) {
            font-size: 36px;
            margin-bottom: 40px;
        }
    }
    p {
    	font-size: 16px;
    	font-weight: 700;
    	margin-bottom: 1.2em;
        @media (min-width: 992px) {
            font-size: 18px;
        }
        @media (min-width: 1200px) {
    	font-size: 21px;
        }
    }
}