.event {
	color: $color__white;
	padding-top: 120px!important;
	padding-bottom: 110px!important;
	
	@media (min-width: 992px) {
		padding-top: 200px!important;
	}	
    .container {        
        @media screen and (min-width: 1800px) {
            max-width: 1570px;
        }
    }
}