.research-news {
    padding-top: 0;

    background-color: $color__red;
    ul.list-inline {
        margin-top: -2px;
        margin-bottom: 0;
        a {
            color: $color__white;
        }
    }
    .btn-underline {
        padding-top: 0;
        &:hover,
        &:focus {
            color: $color__dark;

            &:after {
                border-bottom: 1px solid $color__dark;
            }
        }
    }
    .background {
        transition: .25s linear;
    }
    @media (min-width: 992px) {
        background-color: transparent;
    }
    .container {
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
    &_forms {
        padding: 50px;

        border-radius: $border__radius;
        background-color: $color__grey;
        box-shadow: $box__shadow;
        @media (max-width: 420px) {
            padding: 25px;
        }
    }
    &_cards {
        position: relative;

        display: block;
        overflow: hidden;

        min-height: 160px;
        margin-top: 15px;
        padding: 40px;

        text-align: right;

        color: $color__white;
        border-radius: $border__radius;
        box-shadow: $box__shadow;
        .background {
            transition: all .25s linear;
            rect {
                transition: all .25s linear;

                fill: rgba(0, 0, 0, .45);
            }
        }
        @media (max-width: 420px) {
            min-height: inherit;
            padding: 10px 25px 0;
        }
        .svg-icon {
            position: relative;
            top: -2px;

            display: inline-block;

            width: 18px;
            height: 10px;

            transform: rotate(-90deg);
        }
        p {
            font-size: 1.2em;

            position: relative;
            z-index: 2;
        }
        &:hover,
        &:focus {
            color: $color__white;
            .background {
                transition: all .25s linear;
                transform: scale(1.1, 1.1);
                rect {
                    transition: all .25s linear;

                    fill: rgba(0, 0, 0, .75);
                }
            }
        }
    }
}