.research {
	background-color: $color__grey;
	h2 {
		max-width: 900px;
	}
	&__container {
		background-color: $color__white;
		box-shadow: $box__shadow;
		padding: 40px;
		border-radius: $border__radius;
		font-weight: 500;
		a {
			color: $color__black;
			padding: 15px 0;
			display: inline-block;
			&:hover,
			&:focus {
				color: $color__red;
			}
		}
	}	
    .container {        
        @media screen and (min-width: 1800px) {
            max-width: 1570px;
        }
    }
}