.update {
    .container {
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
        &>.row {
        	&>.col-12>.row {
        	align-items: stretch;
        	align-content:  stretch;  
	        	.col-12 {
	        		padding-bottom: 15px;		
		        	@media (min-width: 1200px) {
		        		height: 180px;
		        		
		        	}  
	        	}
        	}
        }
        .update__item {
        	height: 100%;
        	display: block;
        	padding: 15px;
        	border-radius: $border__radius;
        	box-shadow: $box__shadow;
        	color: $color__white;
        	font-weight: 700;
        	.update__time {
        		font-size: 0.8em;
        		font-weight: 400;
        	}
        	.update__type {
        		font-size: 0.8em;
        	}
        	&>.row {
        		height: 100%;    		
	        	flex-direction: column;
        	}
        }
        .update__news {
        	.update__item {
        		background-color: $color__black;
                
                &:hover,
                &:focus {
                    background-color: color($color__black shade(40%));
                }
        	}
        }
        .update__research {
        	.update__item {
        		background-color: $color__blue;
                
                &:hover,
                &:focus {
                    background-color: color($color__blue shade(40%));
                }
        	}
        }
        .update__events {
        	.update__item {
        		background-color: $color__red;
                
                &:hover,
                &:focus {
                    background-color: color($color__red shade(40%));
                }
        	}
        }
    }
}