<!-- Meta -->
|
|
include assets/meta.pug
|
|<!-- End Meta -->
|
body
	.sprite-svg
		include ../img/sprite.svg
	|
	|
	|<!-- Header -->
	include assets/header.pug
	|
	|<!-- End Header -->
	|
	|
	#whowalk.cd-section
		div(style="width: 100%; position: absolute; overflow: hidden; height:1020px; top: 57%")
			.background(style="width: 1920px; height: 1020px;")
				svg.svg-icon(width="1920px" height="1020px" style="fill: rgba(224, 7, 10, .05)")
					use(xlink:href="#svg__background")
		|<!-- Whowalk -->
		|
		include assets/whowalk.pug
		|
		|<!-- End Whowalk -->
		|
		|<!-- Whatis -->
		include assets/whatis.pug
		|
		|<!-- End Whatis -->
	|
	|
	#impact.cd-section
		|<!-- Impact -->
		|
		include assets/impact.pug
		|
		|<!-- End Impact -->
	|
	|
	#walkteam.cd-section
		div(style="width: 100%; position: absolute; overflow: hidden; height:1020px; top: -32%; z-index: -1; transform: scale(-1, -1);")
			.background(style="width: 1920px; height: 1020px;")
				svg.svg-icon(width="1920px" height="1020px" style="fill: rgba(0, 0, 0, .05)")
					use(xlink:href="#svg__background")
		|<!-- Walkteam -->
		|
		include assets/walkteam.pug
		|
		|<!-- End Walkteam -->
	|
	|<!-- Registrated -->
	include assets/registrated.pug
	|
	|<!-- End Registrated -->
	|
	|<!-- Footer -->
	include assets/footer.pug
	|
	|<!-- End Footer -->
	|
	|<!-- Scroll -->
	include assets/scroll.pug
	|
	|<!-- End Scroll -->
	|
	|<!-- Reval -->
	include assets/reval.pug
	|
	|<!-- End Reval -->
	|
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
	|
	script(type="text/javascript")
		|
		include assets/script.js