- var mainTitle = "Wams";
- var mainAddress = ['Women Against MS', 'MS Society of Canada', '500-250 Dundas St.W.', 'Toronto, ON M5T 2Z5'];
- var mainMail = 'meegan.mcdonald@mssociety.ca';
- var mainPhone = '416-922-6600 ext. 3125';
- var mainCopy = '2015 Multiple Sclerosis Society of Canada';

- var metaKeywords = '';
- var metaDescription = 'Women Against Multiple Sclerosis';