include assets/header.html
<link href="https://fonts.googleapis.com/css?family=Piedra" rel="stylesheet">
<link href="css/add_style.css" rel="stylesheet">
div(style="display: none")
	include ../img/svg/sprite.svg

include assets/n-resources.pug
include assets/infoblock.pug
include assets/raise.pug

include assets/footer.html