include assets/header.html
<link href="css/add_style-thank.css" rel="stylesheet">
div(style="display: none")
	include ../img/svg/sprite_thank.svg
section.thank
	.container
		h2
			|Mississauga
			br
			|Sunday, May 27, 2018
		p
			strong
				|Thank you for registering for Mandarin MS Walk - Mississauga!
			br
			|A confirmation email has been sent to 
			a(href="mailto:abc123@gmail.com")
				|abc123@gmail.com
			|.
		p
			strong
				big
					|Here are your next steps:
		div
			.thank__card
				.thank__icon
					svg.svg-icon(viewBox="0 0 350 350")
						use(xlink:href="#man-user")
				.thank__number
					|01
				h3
					|Access your participant centre:
				p
					|manage your profile & start fundraising today!
			.thank__card.thank__card_black
				.thank__icon
					svg.svg-icon(viewBox="0 0 35 35")
						use(xlink:href="#smartphone-call")
				.thank__number
					|02
				h3
					|Fundraise On the Go:
				p
					|download the MS Walk App to easily bost your fundraising with social and mobile. 
			.thank__card.thank__card_blue
				.thank__icon
					svg.svg-icon(viewBox="0 0 47.001 47.001")
						use(xlink:href="#lightbulb-idea")
				.thank__number
					|03
				h3
					|Tips & Resources:
				p
					|learn different ways to fundraise & get ready for the event.
		.thank__summary.text-left
			h3
				|Your Transaction Summary
			p
				|First Name: Mandy
			p
				|Last Name: Choi
			p
				|Registered for: MS Walk - Mississauga
			p
				|Birthday:
			p
				|Email:
			p
				|...
			p
				|...
			p
				|...
			p
				|...


include assets/footer.html