section.research-news
	.container
		.row
			.col-12.col-md-6.col-lg-5.col-xl-5
				.research-news_forms
					h2.lead.lead_title
						|Research News
					p
						|Subscribe to the latest MS research news by email by entering your info below:
					form
						.form-group
							input.form-control(type="text" placeholder="First Name")
						.form-group
							input.form-control(type="text" placeholder="Last Name")
						.form-group
							input.form-control(type="email" placeholder="Email")

						button.btn.btn-rectangle.btn-red.w-100(type="submit" href="#")
							|Submit

			.col-12.col-md-6.col-lg-7.col-xl-6.offset-xl-1
				.row.justify-content-between
					.col-auto
						ul.list-inline.pt-5
							li.list-inline-item
								a(href="#")
									span.fab.fa-facebook.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-twitter.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-youtube.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-instagram.fa-2x
					.col-auto
						a.btn.btn-underline.pt-5(href="#")
							|Go To Ms Blog
				a.research-news_cards(href="#")
					svg.background(viewBox="0 0 100 30" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
						image(xlink:href="https://secure3.convio.net/mssoc/images/content/pagebuilder/Homepage-Friends-and-Family-Team-Image-ENG-FRE.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
						rect(width="100%" height="100%")
					p
						|Sibling Support: How a brother and sister bonded through having MS
						svg.svg-icon(viewBox="0 0 48.988 26.993" fill="#fff")
							use(xlink:href="#svg__chewron_down")
				a.research-news_cards(href="#")
					svg.background(viewBox="0 0 100 30" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
						image(xlink:href="https://secure3.convio.net/mssoc/images/content/pagebuilder/walk-homepage4.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
						rect(width="100%" height="100%" )
					p
						|Diet and MS: What does researcg tell us about supplements?
						svg.svg-icon(viewBox="0 0 48.988 26.993" fill="#fff")
							use(xlink:href="#svg__chewron_down")