section.slide
	svg.background(viewBox="0 0 100 45" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-none.d-xl-block(xlink:href="img/header2_full.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-block.d-xl-none(xlink:href="img/header2_small.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")

	.container
		h1.text-shadow
			|Programs and Services
		p.text-shadow
			|The MS Society offers a variety of programs to help people affected by multiple sclerosis effectively manage and cope with the disease. MS can be quite challenging at times, but through the support offered by the MS Society, no one has to face these challenges on their own.