section.slide
	svg.background(viewBox="0 0 100 35" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-none.d-xl-block(xlink:href="img/header3_full.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-block.d-xl-none(xlink:href="img/header3_small.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")

	.container
		h1.text-shadow
			|Special Events
		p.text-shadow(style="max-width: 1000px")
			|Take part in something that will make a difference, get involved in MS Society fundraising events. Proceeds raised fund both world-class research and innovative programs and services across Canada. We have many local fundraisers taking place in a community near you that are moving us toward our goal of ending MS and helping those who are under its influence.