include assets/meta.pug
body.body
	.sprite-svg
		include ../img/sprite.svg

	include assets/header.pug
	include assets/slide3.pug
	include assets/filtres2.pug
	include assets/tile2.pug
	
	include assets/footer.pug
	include assets/reval.pug
	
	script(src="js/script.js?"+Math.floor(Math.random() * (15 - 1300) + 1300))
