section.accord
	.container
		.accordion.closed
			h3.accordion_header
				|Lyme disease
			.accordion_content
				p
					|Lyme disease is an illness caused by the bacterium Borrelia burgdorferi, which can be spread through the bite of certain types of ticks. Lyme disease in humans can have serious symptoms, including neurological symptoms similar to those seen in MS, but can generally be treated with antibiotics. Lyme disease can cause rashes and joint symptoms unlike MS.
				p
					|Neurological symptoms may include meningitis, encephalitis, Bell’s palsy, weakness, impaired language, fatigue and impaired memory. Brain MRI may or may not show lesions in the white matter. These lesions are usually non-specific, but sometimes may mimic MS lesions.
				|For more information about Lyme disease please visit the 
				a(href="http://www.phac-aspc.gc.ca/index-eng.php" target="_blank")
					|Public Health Agency of Canada
		.accordion.closed
			h3.accordion_header
				|Lupus (systemic lupus erythematosus)
			.accordion_content
				p
					|Lupus is a chronic inflammatory disease where an individual’s immune system attacks its own tissues and organs. Inflammation caused by lupus can affect different body systems, including the joints, skin, kidneys, blood cells, brain, heart and lungs. Lupus can be difficult to diagnose because signs and symptoms are similar to those seen in other conditions however there are distinct symptoms that are not seen in MS such as skin rash, shortness of breath and fever.
				p
					|This is not an extensive list; your doctor may need to rule out other conditions. It is possible to have MS and another condition but this does not mean that they are related or that  one has caused the other.
				p
					|*With information from 
				a(href="http://www.ninds.nih.gov/" target="_blank")
					|NINDS