section.area
	svg.background(viewBox="0 0 100 30" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-none.d-xl-block(xlink:href="img/area_full.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-block.d-xl-none(xlink:href="img/area_small.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
	.container.text-center
		h2
			|In My Area
		p
			|Find offices, programs, services, and events in my community:
		form
			.input-group.input-group-lg
				input(type="text" class="form-control" placeholder="Enter your postal code here" aria-label="Enter your postal code here")
				button(type="submit").btn.btn-link.btn-lg#input_postal
					span.fas.fa-search