section.filtres
	.container
		.row.justify-content-between
			.col-9.col-sm-auto
				h2
					|I'm looking within 
					strong
						|120 km 
					|from 
					strong
						|my current location
			.col-3.pl-0.col-sm-auto.text-right
				button.btn.btn-link.text-transform-none(data-toggle="collapse" href="#collapseFiltres")
					span.fas.fa-sliders-h.fa-rotate-90 
					|&nbsp;Filter&nbsp;
					span.fas.fa-caret-down
			.col-12.pt-4
				|Provider:
				.keyword
					|MS Society of Canada
					a.btn.btn-link(href="#")
						span.fa.fa-times
				.keyword
					|Other
					a.btn.btn-link(href="#")
						span.fa.fa-times
			.col-12.collapse#collapseFiltres
				hr
				form
					.row
						.col-12.col-md-6
							.form-group
								label(for="radius")
									|Radius:&nbsp; 
									span.radius_value
										|120
									|&nbsp;km 
								input.custom-range#radius(type="range" min="0" max="500" value="120")
							.form-group
								label(for="postal_code")
									|Postal Code
								.input-group
									input.form-control#postal_code(type="text" placeholder="Enter your postal code" aria-label="Enter your postal code")
									button(type="submit").btn.btn-link
										span.fas.fa-map-marker-alt
							.form-group
								label(for="province")
									|- Or search by province and chapter -
								select.form-control#province
									option
										|Alberta
									option
										|Manitoba
							.form-group
								select.form-control#chapter
									option
										|Alberta
									option
										|Manitoba
						.col-12.col-md-6
							.form-group
								label(for="Category")
									|Category
								select.form-control#Category
									option
										|All Categories
									option
										|Advocacy & Legal
							.form-group
								label(for="Provider")
									|Provider of programs and services
								select.form-control#Provider
									option
										|MS Society of Canada
									option
										|Others
							.form-group
								label(for="Keyword")
									|Provider of programs and services
								input.form-control#Keyword(type="text" placeholder="Search" aria-label="Search")
							.row
								.col
									button.btn.btn-opacity.btn-opacity_blue.w-100.btn-lg(type="reset")
										|Clear
								.col
									button.btn.btn-blue.btn-lg.w-100(type="submit")
										|Apply