section.filtres
	.container
		.row.justify-content-between
			.col-12
				h2.big-text
					|Find Events In My Community
			.col-12.col-lg-8
				form.form-inline
					.form-group.w-75
						label.sr-only(for="postal_code")
							|Postal Code
						input.form-control.form-control-lg.mr-3.w-100(type="text" placeholder="Enter your postal code" aria-label="Enter your postal code")
					button(type="submit").btn.btn-blue.btn-lg.text-transform-none.w-25
						span.d-none.d-sm-inline-block
							|Submit
						span.d-inline-block.d-sm-none.fas.fa-search
							