section.footer
	.container
		.row
			.col-12.col-md-auto
				ul.list-unstyled
					li
						a(href="#")
							|About the MS Society
					li
						a(href="#")
							|Employment Opportunities
					li
						a(href="#")
							|Contact Us
					li
						a(href="#")
							|Financial Information
					li
						a(href="#")
							|Our Impact and Operations
					li
						a(href="#")
							|Accessibility
					li
						a(href="#")
							|Advocacy
					li
						a(href="#")
							|Media
					li
						a(href="#")
							|Privacy
					li
						a(href="#")
							|Multiple Sclerosis Scientific Research Foundation
			.col-12.col-md-auto
				ul.list-unstyled
					li
						a(href="#")
							|Donate
					li
						a(href="#")
							|Feedback
					li
						a(href="#")
							|MS Walk
					li
						a(href="#")
							|MS Bike
					li
						a(href="#")
							|Muck MS Canada
					li
						a(href="#")
							|MS Research Portal
					li
						a(href="#")
							|I Challenge MS
					li
						a(href="#")
							|Someone Like Me
			.col-12.col-md-auto
				ul.list-unstyled
					li
						ul.list-inline
							li.list-inline-item
								a(href="#")
									span.fab.fa-facebook.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-twitter.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-youtube.fa-2x
							li.list-inline-item
								a(href="#")
									span.fab.fa-instagram.fa-2x
					li
						br
						a(href="tel:18002687582")
							|1-800-268-7582
					li
						a(href="mailto:info@mssociety.ca")
							|info@mssociety.ca
footer
	.container
		.row
			.col-6.col-sm-auto
				a(href="http://www.imaginecanada.ca/standards")
					img(src="https://mssociety.ca/images/imagine-canada-en_CA.png" alt="Imagine Canada Trustmark")
			.col-6.col-sm-auto
				small
					|Proud member of:
				.d-block
					a(href="http://www.progressivemsalliance.org/" target="_blank")
						img(src="https://mssociety.ca/images/logo.progalliance.en_CA.png" alt="Progressive MS Alliance" style="width:90%; max-width:155px;")
			.col-auto
				small
					nobr
						|Official Airline of the MS Society of Canada:
				.d-block
					a(href="#" target="_blank")
						img(src="img/air-canada-logo.svg")
			.col-12
				br
				small
					|© 2017 MS Society of Canada.
					br
					|Charitable registration - MS Society of Canada: 10774 6174 RR0001 / Quebec Division: 10 490 2523 RR0001
					br
					|The Standards Program Trustmark is a mark of Imagine Canada used under licence by the MS Society of Canada and the Quebec Division.
			