section.help
	.container.text-center
		h2.lead.lead_title
			|With Your Help
		.row
			.col-12.col-lg-4
				.help__number.text-blue
					|14
				p
					|Research projects were funded in 2017, and we’re plannig to double this number in 2018
			.col-12.col-lg-4
				.help__number.text-red
					|5,000
				p
					|Letters were sent to our MP’s to make access a reality for people affected by MS
			.col-12.col-lg-4
				.help__number
					|31
				p
					|Volunteers living with MS were trained for the new MS 1:1 Peer Support Program which matches them with individuals looking for support.

		a.btn.btn-red.btn-rectangle(href="#")
			|See More Of Our Impact