a(class="cd-nav-trigger cd-img-replace")
	.fas.fa-ellipsis-v.fa-lg(data-fa-transform="down-8")
	span.sr-only
		|Open navigation
nav(id="cd-vertical-nav")
	ul
		li
			a(href="#slide" data-number="1")
				span.cd-dot
				span.cd-label
					|Living with MS: Kate’s Story
		li
			a(href="#community" data-number="2")
				span.cd-dot
				span.cd-label
					|In my community
		li
			a(href="#news" data-number="3")
				span.cd-dot
				span.cd-label
					|Latest News
		li
			a(href="#research" data-number="4")
				span.cd-dot
				span.cd-label
					|Research
		li
			a(href="#impact" data-number="5")
				span.cd-dot
				span.cd-label
					|Impact
		li
			a(href="#take" data-number="6")
				span.cd-dot
				span.cd-label
					|Take Action
		