section.slide.slide_noheader
	svg.background(viewBox="0 0 100 45" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-none.d-xl-block(xlink:href="https://beta.mssociety.ca/images/front/header-lifewithms-full.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")
		image.d-block.d-xl-none(xlink:href="https://beta.mssociety.ca/images/front/header-unapologetic-brooke-robinson-small.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice")

	.container
		.lead.text-shadow
			|Advocacy
		h2.text-shadow
			|Join the Campaign to Improve #LifeWithMS
		.button-block
			a.btn.btn-red.btn-rectangle(href="#")
				|Send a message now
			a.btn.btn-underline.btn-underline_black(href="#")
				|Learn More About Advocacy
		a.cd-scroll-down.cd-img-replace(href="#community")
			.chewron
				svg.svg-icon(viewBox="0 0 48.988 26.993" fill="#fff")
					use(xlink:href="#svg__chewron_down")