section.infoblock
	.container
		svg.background-svg(viewBox="0 0 133.615 218.546" height="100%" width="163.56397%" preserveAspectRatio="xMinYMid meet")
			svg.svg-icon(viewBox="0 0 133.615 218.546")
				use(xlink:href="#svg__infoblock_bg")
		.infoblock__heder.inf-head
			h2.inf-head__headline
				|Raise $150 
				span.inf-head__with
					svg.svg-icon.svg-icon_left(viewBox="0 0 20.637 2.91")
						use(xlink:href="#svg__infoblock_with")
					|with 
					svg.svg-icon.svg-icon_right(viewBox="0 0 20.637 2.91")
						use(xlink:href="#svg__infoblock_with")
				span.inf-head__small
					|3 easy steps
			p.inf-head__text
				|Raising $150 is easier than you think. Here are 3 different ways you can hit your $150 goal by reaching out to your networks. Feel free to mix and match these steps to make it work best for you
		.infoblock__content
			.step.step_one
				.trace
					svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
						svg.svg-icon(viewBox="0 0 79.375 31.75")
							use(xlink:href="#svg__infoblock_trace")
					.trace__text
						span.vetical-middle
							|Step 
						span.trace__number
							|1
					.trace__icon.trace__icon_h-mobile
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.trace__img(viewBox="0 0 26.458 20.6")
							use(xlink:href="#svg__infoblock_step1")
					.trace__desc.trace__desc_h-mobile
						|Make a self 
						br
						|pledge of 
						span.font-piedra
							|$50
				.step__desc.s-desc.s-desc_h-descktop
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 26.458 20.6")
							use(xlink:href="#svg__infoblock_step1")
					.s-desc__text
						|Make a self 
						br
						|pledge of 
						span.font-piedra
							|$50
				.poiner
					svg.svg-icon(viewBox="0 0 50.006 21.696")
						use(xlink:href="#svg__pointer1")
			.step.step_two
				.trace.trace_h-desctop
					svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
						svg.svg-icon(viewBox="0 0 79.375 31.75")
							use(xlink:href="#svg__infoblock_trace")
					.trace__text
						span.vetical-middle
							|Step 
						span.trace__number
							|2
				.step__desc.s-desc.s-desc_tell
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 21.167 21.96")
							use(xlink:href="#svg__b2-tell")
					.s-desc__text
						|Tell your family that you're participating in MS Walk and ask 3 family members for a 
						strong
							|$20 
						|donation.
				.step__desc.s-desc.s-desc_host
					.poiner
						svg.svg-icon(viewBox="0 0 51.065 23.813")
							use(xlink:href="#svg__pointer2")
					.trace.trace_h-mobile
						svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 79.375 31.75")
								use(xlink:href="#svg__infoblock_trace")
						.trace__text
							span.vetical-middle
								|Step 
							span.trace__number
								|2
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 15.875 23.813")
							use(xlink:href="#svg__b2-host")
					.s-desc__text
						|Host a fundraiser with a goal of raising 
						strong
							|$60
						|.
				.step__desc.s-desc.s-desc_send
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 24.606 18.521")
							use(xlink:href="#svg__b2-send")
					.s-desc__text
						|Send an email to 3 out of town family and friends asking for a donation of 
						strong
							|$20
						|.
			.step.step_three
				.trace.trace_h-desctop
					svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
						svg.svg-icon(viewBox="0 0 79.375 31.75")
							use(xlink:href="#svg__infoblock_trace")
					.trace__text
						span.vetical-middle
							|Step 
						span.trace__number
							|3
				.step__desc.s-desc.s-desc_tell
					.s-desc__text
						|Tell 4 co-workers about MS Walk and ask each to donate 
						strong
							|$10
						|.
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 24.606 20.108")
							use(xlink:href="#svg__b3-tell")
				.step__desc.s-desc.s-desc_ask
					.s-desc__text
						|Ask 2 friends for a 
						strong
							|$20 
						|donation. 
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 23.812 23.283")
							use(xlink:href="#svg__b3-ask")
					.trace.trace_h-mobile
						svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 79.375 31.75")
								use(xlink:href="#svg__infoblock_trace")
						.trace__text
							span.vetical-middle
								|Step 
							span.trace__number
								|3
					.poiner
						svg.svg-icon(viewBox="0 0 50.006 23.548")
							use(xlink:href="#svg__pointer3")
				.step__desc.s-desc.s-desc_post
					.s-desc__text
						|Post on your social networks calling upon at least 4 people to donate 
						strong
							|$10* 
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 22.754 23.019")
							use(xlink:href="#svg__b3-post")
			.step.step_last
				.trace
					svg.trace__background(viewBox="0 0 79.375 31.75" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
						svg.svg-icon(viewBox="0 0 79.375 31.75")
							use(xlink:href="#svg__infoblock_trace")
					.trace__text
						span
							|Total 
						span.trace__price
							|$150
					.trace__icon.trace__icon_h-mobile
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.trace__img(viewBox="0 0 30.162 29.104")
							use(xlink:href="#svg__infoblock_last")
					.trace__desc.trace__desc_h-mobile
						|Receive a MS Walk t-shirt when you raise 
						strong
							|$150
						|!
				.step__desc.s-desc.s-desc_h-descktop
					.s-desc__icon
						svg.background-svg(viewBox="0 0 26.458 26.458" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
							svg.svg-icon(viewBox="0 0 26.458 26.458")
								use(xlink:href="#svg__infoblock_ico-bg")
						svg.svg-icon.s-desc__img(viewBox="0 0 30.162 29.104")
							use(xlink:href="#svg__infoblock_last")
					.s-desc__text
						|Receive a MS Walk t-shirt when you raise 
						strong
							|$150
						|!
			.step.step_about
				.step__text
					|*Don’t forget to download our MS Walk app so that you can ask for donations and track your fundraising progress on the go! Just search MS Walk in the App Store or Google Play.