section.n-resources
	.container
		h2.text-center
			|Resources
		.text-center
			.n-resources__col
				.n-resources__card
					h3.text-red
						|Tips & Tutorials
					.n-resources__icon.box-shadow
						svg.svg-icon.svg-icon_red(viewBox="0 0 792 792")
							use(xlink:href="#svg__res-bulb")
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					a.btn.btn-res(href="#")
						|Online Fundraising Guide
					a.btn.btn-res(href="#")
						|Fundraising Rewards
					a.btn.btn-res(href="#")
						|Fundraising Tips
					a.btn.btn-res(href="#")
						|Social Media Tips
					a.btn.btn-res(href="#")
						|App Tutorial
			.n-resources__col
				.n-resources__card
					h3.text-blue
						|Team Resourcess
					.n-resources__icon.box-shadow
						svg.svg-icon.svg-icon_blue(viewBox="0 0 614.5 614.5")
							use(xlink:href="#svg__res-calendar")
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					a.btn.btn-res.btn-res_blue(href="#")
						|Team recruitment poster
					a.btn.btn-res.btn-res_blue(href="#")
						|Team thermoeter poster
					a.btn.btn-res.btn-res_blue(href="#")
						|Team member recruitment tips
			.n-resources__col
				.n-resources__card
					h3.text-black
						|Event Resources
					.n-resources__icon.box-shadow
						svg.svg-icon.svg-icon_black(viewBox="0 0 496 496")
							use(xlink:href="#svg__res-team")
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					a.btn.btn-res.btn-res_black(href="#")
						|Event resource 1
					a.btn.btn-res.btn-res_black(href="#")
						|Event resource 2
					a.btn.btn-res.btn-res_black(href="#")
						|Event resource 3
					a.btn.btn-res.btn-res_black(href="#")
						|Event resource 4