section.raise
	.raise__header.r-header
		.container
			h2
				|Raise $500 in 
				span.text-red
					|7 days
			p
				|Reach your fundraising goal by asking your friends and family to support you.
				br
				|Follow these 7 easy steps to raise $500 towards your fundraising goal.
	.container.text-center
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 20.108 20.902")
					use(xlink:href="#svg__raise-ico1")
				.raise__day
					|day 1
			.raise__text
				|Make a 
				strong
					|personal donation 
				|of $50.
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 18.256 22.49")
					use(xlink:href="#svg__raise-ico2")
				.raise__day
					|day 2
			.raise__text
				|Ask 
				strong
					|3 family members  
				|o match your personal donation of $50.
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 18.256 16.404")
					use(xlink:href="#svg__raise-ico3")
				.raise__day
					|day 3
			.raise__text
				|Ask 
				strong
					|4 friends 
				|to each make a donation of $25. That's $100 in one day!
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 16.404 21.431")
					use(xlink:href="#svg__raise-ico4")
				.raise__day
					|day 4
			.raise__text
				|Talk to your employer to 
				strong
					|host a $5 dress down day
				|. All you need is 10 
				nobr
					|co-workers 
				|to join to raise $50.
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 23.813 22.225")
					use(xlink:href="#svg__raise-ico5")
				.raise__day
					|day 5
			.raise__text
				|Ask 
				strong
					|2 neighbors 
				|for a $20 donation.
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 22.225 17.992")
					use(xlink:href="#svg__raise-ico6")
				.raise__day
					|day 6
			.raise__text
				|Tell 
				strong
					|2 co-workers 
				|about MS Bike and ask for a $25 donation.
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 17.462 21.96")
					use(xlink:href="#svg__raise-ico7")
				.raise__day
					|day 7
			.raise__text
				|Post on your   
				strong
					|social media network 
				|asking at least 4 people to donate $15 each to receive $60.*
		.raise__card
			.raise__icon
				svg.background(viewBox="0 0 46.302 46.302" height="100%" width="100%" preserveAspectRatio="xMidYMid meet")
					svg.svg-icon(viewBox="0 0 46.302 46.302")
						use(xlink:href="#svg__raise-bg")
				svg.svg-icon.raise__img(viewBox="0 0 19.315 20.108")
					use(xlink:href="#svg__raise-ico8")
				.raise__day
					|day 8
			.raise__text.raise__text_big.text-red
				|Total $500