doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title
			|Unies pour la SP
		link(rel="shortcut icon" href="https://mssociety.ca/favicon.en_CA.ico")
		link(rel="stylesheet" href="css/style.css")
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->
	body
		div(style="display:none")
			include ../img/sprite.svg
		header
			div.row.clearfix
				div.logo
		section
			div.row.clearfix
				div.wrapper
					h1
						|Unies pour la&nbsp;SP
					a.button(href="")
						|Quebec
					table(border="0" cellpadding="0" cellspacing="0" style="width: 65%; max-width: 760px; margin: 0 auto")
						tbody
							tr
								td(style="border-bottom: 1px solid white; width: 50%")
									|&nbsp;
								td(rowspan="2" style="padding: 10px; color: white; font-style: italic")
									|En&nbsp;anglais&nbsp;seulement
								td(style="border-bottom: 1px solid white; width: 50%")
									|&nbsp;
							tr
								td
									|&nbsp;
								td
									|&nbsp;


					a.button(href="")
						|Atlantic
					a.button(href="")
						|BC and Yukon
					a.button(href="")
						|Ontario
		footer
			div.row.clearfix
				dl.society
					dt
						|MS Society
						dd
							a(href="http://mssociety.ca")
								|mssociety.ca
						dd
							a(href="https://mssociety.ca/privacy-statement")
								|Privacy
				dl.contact
					dt
						|Contact
						dd
							a(href="mailto:info@msscoiety.ca")
								|info@msscoiety.ca
						dd
							a(href="tel:18002687582")
								|1-800-268-7582
				ul
					li
						a(href="")
							svg(width="38" height="38" viewBox="0 0 38 38")
								use(xlink:href="#svg__facebook")
					li
						a(href="")
							svg(width="38" height="38" viewBox="0 0 38 38")
								use(xlink:href="#svg__twitter")
					li
						a(href="")
							svg(width="38" height="38" viewBox="0 0 38 38")
								use(xlink:href="#svg__youtube")
			div.copyright
				div.row.clearfix
					p
						|© Multiple Sclerosis Society of Canada. | All rights reserved
					p
						|The 
						a(href="https://mssociety.ca/about-us/financial-information")
							|Multiple Sclerosis Society of Canada 
						|is a member of Imagine Canada. As a participant or volunteer in one of our events, we ask that you adhere to Imagine Canada's ethical code as outlined by the MS Society’s statement,  
						a(href="https://mssociety.ca/about-us/financial-information")
							|“The Ethical Code: Partnering with Fundraisers and Volunteers.”
						|.