.card.card_province
	.card__content.choose
		.card__headline
			|Choose a province
		ul.card__list
			li.card__item(data-item="choose_alberta-nwt")
				|Alberta and NWT
			li.card__item(data-item="choose_atlantic")
				|Atlantic
			li.card__item(data-item="choose_bc-yukon")
				|BC and Yukon
			li.card__item(data-item="choose_manitoba")
				|Manitoba
			li.card__item(data-item="choose_ontario")
				|Ontario
			li.card__item(data-item="choose_quebec")
				|Quebec
			li.card__item(data-item="choose_saskatchewan" data-event="event_saskatchewan")
				|Saskatchewan
.card.card_chapter
	.card__content
		.card__headline
			|Choose a chapter
		#card_chapter
		ul.card__list(data-list="choose_alberta-nwt")
			li.card__item(data-item="event_alberta")
				|Alberta
			li.card__item(data-item="event_nwt")
				|NWT
		ul.card__list(data-list="choose_atlantic")
			li.card__item(data-item="event_new-brunswick")
				|New Brunswick
			li.card__item(data-item="event_newfoundland-labrador")
				|Newfoundland and Labrador
			li.card__item(data-item="event_nova-scotia")
				|Nova Scotia
			li.card__item(data-item="event_pei")
				|PEI
		ul.card__list(data-list="choose_bc-yukon")
			li.card__item(data-item="event_vancouver-island")
				|Vancouver Island
			li.card__item(data-item="event_interior-bc")
				|Interior BC
			li.card__item(data-item="event_lover-mainland")
				|Lower Mainland
			li.card__item(data-item="event_nbc-yukon")
				|Northern BC & Yukon
			li.card__item(data-item="event_fraser-valley")
				|Fraser Valley
			li.card__item(data-item="event_yukon")
				|Yukon
			li.card__item(data-item="event_bc-communities")
				|BC Communities
		ul.card__list(data-list="choose_manitoba")
			li.card__item(data-item="event_manitoba")
				|Manitoba
		ul.card__list(data-list="choose_ontario")
			li.card__item(data-item="event_c_ontario")
				|Central Ontario
			li.card__item(data-item="event_s_ontario")
				|Southwestern Ontario
			li.card__item(data-item="event_n_ontario")
				|Northern Ontario
			li.card__item(data-item="event_e_ontario")
				|Eastern Ontario
		ul.card__list(data-list="choose_quebec")
			li.card__item(data-item="event_quebec")
				|Quebec
		ul.card__list(data-list="choose_saskatchewan")
			li.card__item(data-item="event_saskatchewan")
				|Saskatchewan
.card.card_event
	#card_event.card__content
		.card__headline
			|Choose an event
		#card_event
		ul.card__list(data-list="event_alberta")
			li.card__item
				strong
					|Brooks
				br
				|Sunday, May 27, 2018
				a(href="#")
					|Read more
				a.card__button(href="#")
					|Register
			li.card__item
				strong
					|Calgary
				br
				|Sunday, June 10, 2018
				a(href="#")
					|Read more
				a.card__button(href="#")
					|Register
			li.card__item
				strong
					|Drumheller
				br
				|Sunday, May 6, 2018
				a(href="#")
					|Read more
				a.card__button(href="#")
					|Register
			li.card__item
				strong
					|Edmonton
				br
				|Sunday, May 27, 2018
				a(href="#")
					|Read more
				a.card__button(href="#")
					|Register
		ul.card__list(data-list="event_saskatchewan")
			li.card__item
				strong
					|Saskatchewan
				br
				|Sunday, May 27, 2018
				a(href="#")
					|Read more
				a.card__button(href="#")
					|Register