section.detail
	.container
		.row
			.col-sm-6.col-lg-7
				h2
					|Event Detail
				hr
				.detail__info
					.detail__item
						.detail__icon
							svg.svg-icon(viewBox="0 0 512 512")
								use(xlink:href="#svg__placeholder")
						strong
							|Location:&nbsp;
						|Downsview Park
					.detail__item
						.detail__icon
							svg.svg-icon(viewBox="0 0 376.4 376.4")
								use(xlink:href="#svg__checkin")
						strong
							|Check-in time:&nbsp;
						|9:30 AM
					.detail__item
						.detail__icon
							svg.svg-icon(viewBox="0 0 449.729 449.729")
								use(xlink:href="#svg__clock")
						strong
							|Start time:&nbsp;
						|11:00 AM
					.detail__item
						.detail__icon
							svg.svg-icon(viewBox="0 0 512 512")
								use(xlink:href="#svg__road")
						strong
							|Route length(s):&nbsp;
						|2.5km, 5 km
				p
					|For more information, contact MS Society:
					br
					a(href="mailto:walk@mssociety.ca")
						|walk@mssociety.ca
					|&nbsp;|&nbsp;
					a(href="mailto:18888888467")
						|1(888) 888-8467
			.col-sm-6.col-lg-5
				.e-progress
					.e-progress__header
						.row
							.col-xs-6
								.e-progress__icon
									svg.svg-icon(viewBox="0 0 10.583333 10.583334")
										use(xlink:href="#svg__teams")
								strong
									|Teams: 9
							.col-xs-6.text-right
								.e-progress__icon
									svg.svg-icon(viewBox="0 0 10.583333 10.583334")
										use(xlink:href="#svg__walkers")
								strong
									|Walkers: 9
					.e-progress__content
						.e-progress__top
							h3
								|Progress
							.e-progress__bar
								.epogress__progress(style="width:98%;")
								.epogress__procent
									|98%
							p
								strong
									|Raised:&nbsp;
								| $590,000.00
							p
								strong
									|Goal:&nbsp;
								| $600,000.00
						.e-progress__bottom
							a(href="#" class="btn btn-event")
								|2017 Mission First Club
							a(href="#" class="btn btn-event")
								|Photos
			.col-xs-12(style="margin-top: 3em")
				p
					|Canada has the highest rate of MS in the world. When you join MS Walk, you join our country’s collective effort to help improve the livesof Canadians affected by MS. The dollars you raise are invested in world-leading MS research happening right here in Canada. It’s anexciting time for MS research, and your fundraising will help improve the quality of life of Canadians affected by MS today, and thosewho may receive a diagnosis tomorrow.
				p
					|Bring your family and friends together to share in the start/finish-line activities, team awards ceremonies and amazing stories from peopleliving with MS! We can’t wait to celebrate with you!

