footer.footer
	.container-fluid
		.container
			.row
				.col-sm-6.col-md-4
					h3
						|About
					a(href="#")
						|The MS Society of Canada
					a(href="#")
						|Privacy Policy
				.col-sm-6.col-md-8
					h3
						|Contact
					a(href="mailto:ichallengems@mssociety.ca")
						|ichallengems@mssociety.ca
					a(href="tel:18002687582")
						|1-800-268-7582
					ul
						li
							a(href="#")
								svg(width="24" height="24" viewBox="0 0 38 38")
									use(xlink:href="#svg__facebook")
						li
							a(href="#")
								svg(width="24" height="24" viewBox="0 0 38 38")
									use(xlink:href="#svg__twitter")
						li
							a(href="#")
								svg(width="24" height="24" viewBox="0 0 38 38")
									use(xlink:href="#svg__youtube")
				.col-xs-12.small.text-center
					|© Multiple Sclerosis Society of Canada. | All rights reserved.
					br
					|The 
					a(href="#")
						|Multiple Sclerosis Society of Canada 
					|is a member of Imagine Canada. As a participant or volunteer in one of our events, we ask that you adhere to Imagine Canada’s ethical code as outlined by the MS Society’s statement, 
					a(href="#")
						|“The Ethical Code: Partnering with Fundraisers and Volunteers.”
					|.
					br
					br
					|Charitable registration - MS Society of Canada: 10774 6174 RR0001 / Quebec Division: 10 490 2523 RR0001