section.fundraisers
	.container
		h2 
			|Top Fundraisers
		hr
		.fundraisers__content
			.row
				.col-sm-6
					h3
						|Top Online Participants
					.fundraisers__list
						.fundraisers__item
							a(href="#")
								|Anna Leroux
							|&nbsp;($295.00)
						.fundraisers__item
							a(href="#")
								|Judy Wyatt
							|&nbsp;($295.00)
						.fundraisers__item
							a(href="#")
								|Jennifer Arruda
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Alexandria Bucci
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Mathew Capoccia
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Bobbi Cochar
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Mirella Coletti
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Kayla Dalton
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Katia Engell
							|&nbsp;($0.00)
						.fundraisers__item
							a(href="#")
								|Amanda Gray
							|&nbsp;($0.00)
				.col-sm-6
					h3
						|Top Online Teams
					.fundraisers__list.fundraisers__list_blue
						.fundraisers__item
							a(href="#")
								|Love for Leo
							|&nbsp;($295.00)