header.header(class="clearfix")
	.header__account(class="container-fluid")
		div(class="row")
			div(class="pull-right")
				ul(class="list-inline")
					li
						a(href="#")
							|Login
					li
						a(href="#")
							|Français
	.header__menu(class="container-fluid")
		.row
			.pull-left
				a.logo(href="/")
					svg.svg-icon(viewBox="0 0 134 26.5")
						use(xlink:href="#svg__logo")
			.pull-right
				button(type="button" class="btn btn-link visible-xs-block" data-toggle="modal" data-target="#MenuModal")
					span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
				ul(class="list-inline")
					li
						a.active(href="#")
							|Donate
					li
						a(href="#")
							|About MS Walk
					li
						a(href="#")
							|Locations
					li
						a(href="#" type="button" data-toggle="modal" data-target="#MenuModal")
							span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
							span
								|Menu