section.impact
	.container
		h2
			|Your impact
		p
			|We are dedicated to funding research and services that empower Canadians affected by multiple sclerosis. The money you raise through MS Walk will help fund things like:
		.row
			.col-md-4
				div.border-circle.box-shadow
					svg.svg-icon(viewBox="0 0 39.158332 39.158334")
						use(xlink:href="#svg__research")
				h3
					|Canadian MS research
				p
					|With your support, we are able to fund world-leading Canadian MS research thatis integral to finding the cause and  cure of MS.
			.col-md-4
				span.border-circle.box-shadow
					svg.svg-icon(viewBox="0 0 39.158332 39.158334")
						use(xlink:href="#svg__programs")
				h3
					|Programs and services
				p
					|Your support allows us to offer a variety of programs to help Canadian’s affected by MS effectively manage and cope with the disease .
			.col-md-4
				span.border-circle.box-shadow
					svg.svg-icon(viewBox="0 0 39.158332 39.158334")
						use(xlink:href="#svg__advocacy")
				h3
					|Advocacy work
				p
					|We are advocating for more flexible income and employment supports for Canadians affected by MS, caregiver supports, coordinated care, and more investment from our governments in MS research.