.r-menu
	.clearfix
		.col-sm-6.col-md-4.col-lg-4.text-left
			.bg_red
				a(href="#" class="btn btn-event btn-red" data-dismiss="modal" data-toggle="modal" data-target="#RegModal")
					|Register today
			.bg_grey
				.row
					.col-xs-5
						a(href="#")
							|Login
						a(href="#")
							|Français
					.col-xs-7
						a(href="#" class="btn btn-oval btn-opacity")
							|Donate
		.col-sm-6.col-md-4.col-lg-3.text-left
			.r-menu__menu
				h3
					|About MS Walk
				ul
					li
						a(href="#")
							|Why Walk?
					li
						a(href="#")
							|Your impact
					li
						a(href="#")
							|About MS Society of Canada
				h3
					|Fundraising
				ul
					li
						a(href="#")
							|Your participant Center
				h3
					|Walk as a Team
				ul
					li
						a(href="#")
							|Friends and family Teams
					li
						a(href="#")
							|Corporate Teams
		.col-sm-12.col-md-4.col-lg-5.text-left
			.r-menu__desc
				h3
					|About MS
				p
					|Canada has the highest rate of multiple sclerosis (MS) in the world, with an estimated 100,000 Canadians living with the disease. While it is most often diagnosed in young adults aged 15 to 40, younger children and older adults are also diagnosed with the disease.
				p
					|MS is currently classified as an autoimmune disease of the central nervous system (brain, spinal cord, and optic nerves). The disease attacks myelin, the protective covering of the nerves, causing inflammation and often damaging the myelin. Myelin is necessary for the transmission of nerve impulses through nerve fibres. If damage to myelin is slight, nerve impulses travel with minor interruptions; however, if damage is substantial and if scar tissue replaces the myelin, nerve impulses may be completely disrupted, and the nerve fibres themselves can be damaged.
