.new-modal#ModalCard
	.background(style="width: 1920px; height: 1020px;")
		svg.svg-icon(width="1920px" height="1020px")
			use(xlink:href="#svg__background")
	.container
		.new-modal__header
			span.new-modal__logo
				svg.svg-icon(viewBox="0 0 134 26.5")
					use(xlink:href="#svg__logo")
			button(type="button")
				span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
		.new-modal__body
			include card.pug