section.provincial
	.container
		h2
			|Provincial Sponsor
		hr
		.provincial__content
			<img src="http://mssoc.convio.net/images/content/pagebuilder/Hayters_Farm_Sponsor_Logo_-_140x71.jpg" alt="Hayter's Farms">
			<img src="http://mssoc.convio.net/images/content/pagebuilder/rsz_oldpct20dutchpct20logo.jpg" alt="Old Dutch">
			<img src="http://mssoc.convio.net/images/content/pagebuilder/Provincial_Sponsor_-_Westons_Logo_Take2.jpg" alt="Westons">
			<img src="http://mssoc.convio.net/images/content/pagebuilder/Impact_Canopy_Logo.jpg" alt="Impact Canopy">