section.resources
	.container
		h2
			|Resources
		hr
		.row
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
			.col-sm-6.col-md-4
				a(href="#" class="btn btn-event")
					|Resources
