#MenuModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Register")
	.modal-dialog(role="document")
		.background(style="width: 1920px; height: 1020px;")
			svg.svg-icon(width="1920px" height="1020px")
				use(xlink:href="#svg__background")
		.modal-content
			.modal-header
				span.modal-logo
					svg.svg-icon(viewBox="0 0 134 26.5")
						use(xlink:href="#svg__logo")
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
			.modal-body
				include menu.pug
#RegModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Register")
	.modal-dialog(role="document")
		.background(style="width: 1920px; height: 1020px;")
			svg.svg-icon(width="1920px" height="1020px")
				use(xlink:href="#svg__background")
		.modal-content
			.modal-header
				span.modal-logo
					svg.svg-icon(viewBox="0 0 134 26.5")
						use(xlink:href="#svg__logo")
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
			.modal-body
				include card.pug