a(class="cd-nav-trigger cd-img-replace")
	span.sr-only
		|Open navigation
nav(id="cd-vertical-nav")
	ul
		li
			a(href="#city" data-number="1")
				span.cd-dot
				span.cd-label
					|Event Detail
		li
			a(href="#fundraisers" data-number="2")
				span.cd-dot
				span.cd-label
					|Top Fundraisers
		li
			a(href="#resources" data-number="3")
				span.cd-dot
				span.cd-label
					|Top Resources
		li
			a(href="#sponsor" data-number="4")
				span.cd-dot
				span.cd-label
					|Our Sponsor