a(class="cd-nav-trigger cd-img-replace")
	span.sr-only
		|Open navigation
nav(id="cd-vertical-nav")
	ul
		li
			a(href="#whowalk" data-number="1")
				span.cd-dot
				span.cd-label
					|What is MS Walk?
		li
			a(href="#impact" data-number="2")
				span.cd-dot
				span.cd-label
					|Your impact
		li
			a(href="#walkteam" data-number="3")
				span.cd-dot
				span.cd-label
					|Walk as a team