// Content 
.container-fluid
	+b('section').content
		+e('h1').heading.text-center Honouree
		+b().entry
			h2 Linda Hasenfratz<br>Chief Executive Officer, Linamar Corporation
			p <img src="img/linda.jpg" width="162" height="243" class="pull-left">Linda Hasenfratz is CEO of Linamar Corporation, a diversified global manufacturing company of highly engineered products powering vehicles, motion, work and lives. Hasenfratz joined her father’s company in 1990 and worked her way up from the ground floor, experiencing all aspects of the business. Since her tenure as CEO, Hasenfratz has grown the company from an $800 million enterprise to over $4.3 billion.
			p Hasenfratz’ enthusiasm for the arts prompted her to join the Board of Governors of the Royal Ontario Museum in 2002, where she was subsequently named Vice-Chair, a position she still holds today with great passion.
			p In 2012, she became the inaugural Chair of the Philanthropy Leadership Cabinet of the Guelph General Hospital.  Involvement in charitable organizations continues to be an important focus for her.
			p Hasenfratz is a member of the Board of Advisors for Catalyst Canada, and the government council, Women On Boards Advisory Council.  Her desire is to see women progress in business to the top level of industry prompted her to participate in these two key initiatives.
			p Strengthening her position as a Canadian and global leader, Hasenfratz was appointed to the CIBC Board of Directors in 2004.  She was Canadian Chair of the North American Competitiveness Council in 2008, a trilateral group of executives from Canada, the US and Mexico convened by the countries’ leaders to debate and advise on key recommendations regarding enhancement of the NAFTA region.  
			p Hasenfratz supports one of Linamar’s key industries, the automotive sector, where she has held a board position on the Original Equipment Suppliers Association since 2005 and was also Chair during the automotive crisis of 2009.   Moreover, she was appointed as the first female director to the Faurecia Board of Directors, a French automotive supplier, in 2011.  Hasenfratz has been named one of the Automotive News 100 Leading Women in 2000, 2005 and 2010. 
			p In 2014, Hasenfratz received the Ontario Ernst & Young Entrepreneur of the Year Award – Manufacturing and the overall Ontario Entrepreneur of the Year Award.  In addition, she received the National Ernst & Young Entrepreneur of the Year Award for Canada. She represented Canada at the World Entrepreneur of the World Conference in Monaco in 2015.  The French Government honoured her in 2015 with the Chevalier dans l’Ordre national de la Légion d’honneur, one of the highest honours bestowed upon a civilian in France.
			p Hasenfratz has been recognized for her contributions to Canadian business through Honourary Degrees and awards from several universities across Canada.
// Content End 