// Content 
.container-fluid
	+b('section').content
		+e('h1').heading.text-center 11th Annual Women Against MS Gala Luncheon
		+b().entry
			h2 Event Information
			.panel
				.panel-body
					table.table
						tbody
							tr
								td <strong>Date:</strong>
								td Friday, May 6, 2015
							tr
								td <strong>Time:</strong>
								td 11:30am – 2:00pm
							tr
								td <strong>Location:</strong>
								td Fairmont Royal York Hotel<br>Canadian Room<br>100 Front Street West, Toronto
			p <strong>Honouree:</strong> <span class="text-primary">Linda Hasenfratz, Chief Executive Officer, Linamar Corporation</span><br>
				|<strong>Guest Speaker:</strong> <span class="text-primary">TBC</span><br>
				|<strong>Honourary Co-Chairs:</strong><br>
				|<em>Janice Fukakusa<br>
				| Chief Financial Officer and Chief Administrative<br>
				| Officer, Royal Bank of Canada<br>
				| Linda Mantia<br>
				| Executive Vice President for Digital, Payments and Cards, Royal Bank of Canada</em>

			h2 Join us as we celebrate the 11th Annual WAMS Gala Luncheon in Toronto!
			p Join us on Friday, May 6, 2016 at the prestigious Fairmont Royal York Hotel for a celebration of 11 years of research, networking and inspiring support of the movement to end MS.
			p In addition to supporting one of Canada’s leading health charities, the WAMS Gala Luncheon is an excellent networking event and provides table purchasers and sponsors high profile exposure. The luncheon attracts leading professionals and organizations from a wide range of industries.
			p Canada has the highest rate of multiple sclerosis in the world and the disease affects women nearly four times more often than men. MS is an unpredictable and often disabling autoimmune disease for which there is no cure. Canadian MS researchers have made incredible advances in the knowledge and treatment of multiple sclerosis, but accelerated research must be maintained to end this disease in the shortest time possible.
			p For sponsorship, table and ticket information, please click here.

			h2 Thank you for those who attended the 10th Annual WAMS Gala.
			p We are thrilled to announce that we raised $500,000 for MS research at the 10th annual WAM Gala Luncheon! Reaching this goal would not have been possible without the generous and continued support of our sponsors, table and ticket purchasers. Thank you!
			p In ten short years, WAMS in Ontario has raised over $3 million and the consistently sold-out Luncheon has become a signature fundraising event in Toronto.
			a.text-primary(href="#") View photos from the event.
// Content End 
