// Content 
.container-fluid
	+b('section').content
		+e('h1').heading.text-center Sponsorship Opportunities
		+b().entry
			p For more information, or to purchase an event sponsorship, please contact Megan McDonald at 416-922-6600 ext. 3125 or <a href="mailto:megan.mcdonald@mssociety.ca">megan.mcdonald@mssociety.ca</a>
			h3 Presenting Sponsor
			p <strong class="text-black">$50,000</strong> (One Available)
			ul
				li Company name or logo listed under event title as "presented by" in one full page ad in the Toronto Star
				li Company name or logo listed under event title as "presented by" on all pre-event, event-day and post-event materials (invitation, ticket, signage, program, press releases, A/V presentation, etc.)
				li Two VIP tables (10 seats each)
				li Double page centerfold ad space in event program
				li Four invitations to a private pre-event breakfast
				li Opportunity to address audience from podium and host honouree at company table
				li Company mention in pre-event media release as Presenting Sponsor
				li Company profile in "Word on WAMS" e-newsletter
				li Verbal recognition from podium at event
				li nvitation to VIP reception with honouree including special photo opportunity

			h3 Speaker Sponsor
			p <strong class="text-black">$30,000</strong> (One Available)
			ul
				li Company logo listed as Speaker Sponsor in one full page ad in the Toronto Star
				li Company logo listed as Speaker Sponsor on all pre-event, event-day, and post-event materials (invitation, signage, program, press releases, A/V presentation, etc.)
				li One VIP table (10 seats)
				li One full page ad in program
				li Opportunity for representative to thank guest speaker and present gift (gift supplied by MS Society)
				li Two invitations to a private pre-event breakfast
				li Opportunity for representative to introduce guest speaker from podium and opportunity for representative to thank guest speaker and present gift
				li Opportunity to host speaker at your company table
				li Recognition in "Word on WAMS" e-newsletter
				li Verbal recognition from podium at event
				li Invitation to VIP reception with honouree including special photo opportunity

			h3 MS Research Sponsor
			p <strong class="text-black">$30,000</strong> (One Available)
			ul
				li Company logo listed as MS Research Sponsor in one full page ad in the Toronto Star
				li Company logo listed as MS Research Sponsor on all pre-event, event-day, and post-event materials (invitation, signage, program, A/V presentation, etc.)
				li One VIP table (10 seats)
				li One full page ad in program
				li Two invitations to a private pre-event breakfast
				li Opportunity for representative to introduce MS Researchers from podium
				li Opportunity to host two WAMS funded researchers at your company table
				li Company logo on branded donation materials placed at each seat at the Gala Luncheon
				li Recognition in “Word on WAMS” e-newsletter
				li Verbal recognition from podium at event
				li Invitation to VIP reception with honouree including special photo opportunity

			h3 Gold Sponsor
			p <strong class="text-black">$20,000</strong>
			ul
				li One VIP table (10 seats)
				li One full page ad in event program
				li Company logo listed as Gold Sponsor on pre-event and event-day materials (signage, program, press releases, A/V presentation, etc.)
				li Company logo listed as Gold Sponsor in one full page ad in the Toronto Star
				li Verbal recognition from podium at event
				li Invitation to VIP reception with honouree

			h3 Silver Sponsor
			p <strong class="text-black">$15,000</strong>
			ul
				li One table (10 seats)
				li ½ page ad in event program
				li Company logo listed as Silver Sponsor on pre-event and event-day materials (signage, program, press releases, A/V presentation, etc.)
				li Company logo listed as Silver Sponsor in one full page ad in the Toronto Star
				li Verbal recognition from podium at event
				li Invitation to VIP reception with honouree

			h3 Bronze Sponsor
			p <strong class="text-black">$10,000</strong>
			ul
				li One table (10 seats)
				li ¼ page ad in event program
				li Company logo listed as Bronze Sponsor on event-day materials (signage, program, A/V presentation, etc.)
				li Company logo listed as Bronze Sponsor in one full page ad in the Toronto Star
				li Verbal recognition from podium at event

			h3 VIP Reception Sponsor 
			p <strong class="text-black">$10,000</strong> (One Available)
			ul
				li Two tickets
				li ¼ page ad in event program
				li Company logo listed as VIP Reception Sponsor on event-day materials (signage, program, A/V presentation, etc.)
				li Company logo listed as VIP Reception Sponsor in full page ad in the Toronto Star
				li Opportunity to showcase product or services at VIP Reception
				li Verbal recognition from the podium at event
				li Invitation to VIP Reception with honouree

			h3 Social Media Sponsor
			p <strong class="text-black">$10,000</strong> (One Available)
			ul
				li Two tickets to event
				li Company logo represented on social media feed screen as "Social Media Sponsor"
				li Company logo (with WAMS logo) on photo booth backdrop to be featured in main reception
				li Company logo listed as "Social Media Sponsor" on event day materials (signage, program, A/V presentation, etc.)
				li Verbal recognition from the podium at event 

			h3 Gift Sponsor
			p <strong class="text-black">$7,500</strong>
			ul
				li Two tickets to event
				li Company logo on signage (featured in pre-event reception area)
				li Company logo on event day materials (program, A/V presentation, etc.)
				li Verbal recognition from the podium at event
// Content End 