// Content 
.container-fluid
	+b('section').content
		+e('h1').heading.text-center Tickets and Tables
		+b().entry
			.panel.panel--tickets
				.panel-body
					table.table
						tbody
							tr
								td <strong>VIP ‘Circle of Influence’ Tables</strong>
								td $5,000
							tr
								td <strong>Tables</strong>
								td $2,500
							tr
								td <strong>Individual Tickets</strong>
								td $250
			p For more information regarding sponsorship opportunities, please contact Megan McDonald at 416-922-6600 ext. 3125 or <a href="mailto:megan.mcdonald@mssociety.ca">megan.mcdonald@mssociety.ca</a>
// Content End 