head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='HandheldFriendly' content='True')
	meta(name='MobileOptimized' content='320')

	block title
		title Page title
	meta( name="description" content=metaKeywords)
	meta( name="keywords" content=metaDescription)

	// BootstrapCDN CSS
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")

	// Main stylesheet
	link(href='css/style.min.css', rel='stylesheet')

	// Icons
	link(rel="shortcut icon" href="favicon.ico")
	meta(name='msapplication-TileColor' content='#FF8A00')

	// IE8 scripts
	include _ie8-comments