.find {
    padding: 90px 0;

    @media (min-width: 992px) {
    	padding: 125px 0;
    }

    @media (min-width: 1200px) {
    	padding: 160px 0;
    }

    @media (min-width: 1440px) {
    	padding: 200px 0;
    }
}