.footer {
    .container {
        &>.row {
            justify-content: space-between;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
    font-size: 14px;
    line-height: 2;
    background-color: $color__dark;
    color: $color__white;
    a {
        color: $color__white;
        &:hover,
        &:focus {
           color: $color__red; 
        }
    }
}
footer {

    .container {

        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
}