
.internal .header {
    background-color: $color__black;
}
.header {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;

    width: 100%;
    @media (min-width: 1200px) {
        padding-bottom: 10px;
    }
    &__top {
        background-color: $color__dark;
        &.main-nav>.col-auto>ul {
            margin-bottom: 0;
            padding: 5px 0 7px;
            a,
            .btn {
                font-size: 14px;

                color: $color__white;
                .svg-icon {
                    fill: $color__white;
                }
                &:hover,
                &:focus {
                    color: $color__red;
                    .svg-icon {
                        fill: $color__red;
                    }
                }
            }

            & li:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
    .logo {
        width: 65px;
        height: 34px;
        @media (min-width: 1200px) {
            margin-top: 10px;
        }
        .svg-icon {
            fill: $color__white;
        }
        &:hover,
        &:focus {
            .svg-icon {
                fill: $color__red;
            }
        }
    }
    .header__close {
        width: 65px;
    }
    .morph-dropdown-wrapper {
        z-index: 1;

        overflow-y: hidden;
        @media (min-width: 1200px) {
            overflow-y: visible;
        }
    }
    nav.main-nav {
        padding-top: 10px;
    }
    .main-nav {
        font-weight: 700;
        &>div {
            ul {
                margin-bottom: 5px;
                li {
                    padding: 0 10px;
                    @media (min-width: 1440px) {

                        padding: 0 7.5px;
                    }
                    @media (min-width: 1600px) {
                        padding: 0 12.5px;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    a,
                    .btn {
                        padding: 0;
                        font-size: 16px;
                        color: $color__white;
                        @media (min-width: 1440px) {
                            font-size: 18px;
                        }
                        @media (min-width: 1600px) {
                        }
                        &:hover,
                        &:focus {
                            color: $color__red;
                            .svg-icon {
                                fill: $color__red;
                            }
                        }
                    }
                    .btn-rectangle {
                        padding: 10px 20px;
                        @media (min-width: 1440px) {

                            padding: 10px 15px;
                        }
                        @media (min-width: 1600px) {
                            padding: 15px 25px;
                        }                        
                    }
                    &.list-inline-item {
                        margin-right: 0;
                    }
                }
            }
        }
        &>div:first-child {
            text-transform: uppercase;
        }
        .btn-link {
            font-weight: 700;

            color: $color__white;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        .list-inline-item {
            vertical-align: middle;
        }
        .svg-icon {
            fill: $color__white;
        }
    }
    .dropdown-list .row {
        margin: 0;

        align-items: stretch;
        @media (max-width: 1199px) {
            .col {
                overflow: visible;
            }
        }

        .col {
            overflow: hidden;
        }
    }
    .nav-trigger span,
    .nav-trigger span::after,
    .nav-trigger span::before {
        background-color: $color__white;
    }
    &.fixed {
        top: -40px;

        transition: all .25s linear;

        background-color: rgba(255, 255, 255, .9);
        box-shadow: $box__shadow;
        @media (max-width: 1199px) {
            top: 0;
        }

        &.vis_top {
            top: 0;

            transition: all .25s linear;
        }
        .nav-trigger span,
        .nav-trigger span::after,
        .nav-trigger span::before {
            background-color: $color__black;
        }
        &.nav-open .nav-trigger span {
            background-color: transparent;
        }
        .main-nav.header__top>.col-auto>ul {
            margin-bottom: 0;
            padding: 5px 0 7px;
            a,
            .btn {
                font-size: 14px;

                color: $color__white;
                .svg-icon {
                    fill: $color__white;
                }
                &:hover,
                &:focus {
                    color: $color__red;
                    .svg-icon {
                        fill: $color__red;
                    }
                }
            }
        }
        .main-nav>div ul li {
            a,
            .btn-link {
                color: $color__black;
                &:hover,
                &:focus {
                    color: $color__red;
                    .svg-icon {
                        fill: $color__red;
                    }
                }
            }
            .btn-rectangle {
                color: $color__white;
                &:hover,
                &:focus {
                    color: $color__red;
                }
            }

            .svg-icon {
                fill: $color__black;
            }
        }

        .logo {
            .svg-icon {
                fill: $color__black;
            }
            &:hover,
            &:focus {
                .svg-icon {
                    fill: $color__red;
                }
            }
        }
    }
    &__location {
        text-transform: none;
        span:first-child {
            width: 18px;
            height: 18px;
        }
        span {
            margin-right: 5px;

            vertical-align: middle;
        }
        .svg-icon {
            top: 2px;
        }
        span:last-child {
            margin-right: 0;
        }
    }
    .btn-rectangle.btn-red {
        min-width: auto;
        padding: 10px 20px;
    }
    .dropdown_location {
        &>.row {
            justify-content: space-between;
        }
    }
    @media (max-width: 1199px) {
        .dropdown-list {
            &>ul {
                .label {
                    font-size: 1.2em;
                    font-weight: 700;
                    line-height: 1.5;
                }
                dl,
                ul {
                    dt {
                        font-size: 1.2em;
                        font-weight: 700;
                        line-height: 1.5;

                        margin-bottom: .5rem;
                    }

                    li {
                        margin-bottom: .5rem;
                    }
                    dd {
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        .collapse {
            display: flex;
        }
        .dropdown .content {
            padding-left: 15px;
            dl,
            ul {
                margin-bottom: 0;
                padding-top: 15px;
                padding-bottom: 10px;
                dt {
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 1.2;

                    margin-bottom: .8em;
                    a {
                        color: $color__black;
                        &:hover,
                        &:focus {
                            color: $color__red;
                        }
                    }
                }
                li {
                    margin-bottom: .5rem;
                    a {
                        color: $color__white;
                        &:hover,
                        &:focus {
                            color: $color__red;
                        }
                    }
                }
                dd {
                    a {
                        color: $color__black;
                        &:hover,
                        &:focus {
                            color: $color__red;
                        }
                    }
                }
            }
        }
    }
    &__close {
        display: none;
        .btn {
            line-height: 1;

            padding: 0;

            color: $color__black;
            &:hover,
            &:focus {
                text-decoration: none;
                color: $color__red;
            }
        }
    }
}

body.modal-open {
    .header {
        top: 0;

        background-color: rgba(255, 255, 255, 0);




        &.fixed .main-nav.header__top>.col-auto>ul .btn,
        &.fixed .main-nav.header__top>.col-auto>ul a {
            color: $color__black;
            .svg-icon {
                fill: $color__black;
            }
            &:hover,
            &:focus {
                color: $color__red;
                .svg-icon {
                    fill: $color__red;
                }
            }
        }



        &__top {
            background-color: transparent;
        }
        @media (min-width: 1200px) {
            box-shadow: none;
        }
        &.fixed {
            @media (max-width: 1199px) {
                background-color: rgba(255, 255, 255, .9);
            }
        }
        &__close {
            display: inline-block;
        }
        .logo {
            display: none!important;
        }
        .nav-trigger span,
        .nav-trigger span::after,
        .nav-trigger span::before {
            background-color: $color__black;
        }
        &.nav-open .nav-trigger span {
            background-color: transparent;
        }
        .main-nav>div ul li {
            a,
            .btn-link {
                color: $color__black;
                .svg-icon {
                    fill: $color__black;
                }
                &:hover,
                &:focus {
                    color: $color__red;
                    .svg-icon {
                        fill: $color__red;
                    }
                }
            }
            .btn-rectangle {
                color: $color__white;
                &:hover,
                &:focus {
                    color: $color__red;
                }
            }

            .svg-icon {
                fill: $color__black;
            }
        }

        .logo {
            .svg-icon {
                fill: $color__black;
            }
            &:hover,
            &:focus {
                .svg-icon {
                    fill: $color__red;
                }
            }
        }
    }
}

html.fixed {
    .header {
        position: absolute;

        overflow-y: scroll;

        height: 100%;

        background-color: rgba(255, 255, 255, .9);
        &.nav-open {
            .morph-dropdown-wrapper {
                box-shadow: $box__shadow;
            }
            .btn {
                color: $color__black;
                &:hover,
                &:focus {
                    color: $color__red;
                }
            }
            .label.btn {
                color: $color__white;
                &:hover,
                &:focus {
                    color: $color__red;
                }
            }
        }
        .btn {
            color: $color__black;
            &:hover,
            &:focus {
                color: $color__red;
            }
        }
        &__mobile-nav {
            position: fixed;
            z-index: 2;
            top: 0;

            width: 100%;

            background-color: rgba(255, 255, 255, .9);
            box-shadow: $box__shadow;
        }
    }
    .nav-trigger span,
    .nav-trigger span::after,
    .nav-trigger span::before {
        background-color: $color__black;
    }
    .main-nav>div ul li {
        a,
        .btn-link {
            color: $color__black;
            &:hover,
            &:focus {
                color: $color__red;
                .svg-icon {
                    fill: $color__red;
                }
            }
        }
        .btn-rectangle {
            color: $color__white;
            &:hover,
            &:focus {
                color: $color__red;
            }
        }

        .svg-icon {
            fill: $color__black;
        }
    }

    .logo {
        .svg-icon {
            fill: $color__black;
        }
        &:hover,
        &:focus {
            .svg-icon {
                fill: $color__red;
            }
        }
    }
}