footer,
section {
    position: relative;

    overflow: hidden;

    max-width: 100%;
    padding: 50px 0;
    max-width: 1920px;
    margin: auto;

    @media (min-width: 992px) {
    	padding: 70px 0;
    }

    @media (min-width: 1200px) {
    	padding: 90px 0;
    }

    @media (min-width: 1440px) {
    	padding: 110px 0;
    }
    .row {
        position: relative;
    }
    h1 {
        font-size: 32px;
        @media (min-width: 768px) {
        	font-size: 50px;
        }
        @media (min-width: 992px) {
        	font-size: 66px;
        }
        
    }
    h2 {
        margin-top: 0;
        margin-bottom: .6em;

        font-size: 32px;
        @media (min-width: 768px) {
        	font-size: 50px;
        }
        @media (min-width: 992px) {
        	font-size: 66px;
        }
    }

    .lead {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.25em;

        @media (min-width: 768px) {
            font-size: 21px;
        }
        @media (min-width: 992px) {
            font-size: 24px;
        }
        &_title {
        	text-transform: inherit;
	            font-size: 24px;

	        @media (min-width: 768px) {
	            font-size: 27px;
	        }
	        @media (min-width: 992px) {
	            font-size: 32px;
	        }
        }
    }
}