doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Canadians don't back down.

		link(rel='shortcut icon' href='https://mssociety.ca/favicon.en_CA.ico')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli:300,400')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet' href='css/style.css')

	body
		include header.jade
		include section.jade
		include footer.jade

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')