section.container.top
	h1 Canadians don't back down.
	p.lead We push back.
	div.container-video
		div.flex-video
			iframe(width='560' height='315' src='https://www.youtube.com/embed/SexgodUTXLM?rel=0' frameborder='0' allowfullscreen)
	p
		|We as Canadians are more likely to develop Multiple
		br
		|Sclerosis than anyone else in the world.
	p
		|Having MS shouldn’t be a secret. It’s time to
		br
		|speak up and fight back.
	p
		|What will you do?
	p.flee-fight
		|flee
		span fight
section.bottom
	.container
		p.lead Please Join us for
		h2 A night to fight
		a(href='#').btn Join now
		p
			|At Sher Club, the most exclusive space inside Air Canada Centre
			br
			|Nov. XX, 2016 [Time] Please RSVP to XXX
		hr
		a(href="#")
			img(src="img/sher-club.png", alt="Sher Club")
		a(href="#")
			img(src="img/endMS.png", alt="endMS")
