.detail {
    overflow: visible;

    padding-top: 0;
    h2 {
        margin-top: 1em;
        margin-bottom: 0;
        &+hr {
            margin-top: 2px;
        }
    }

    &__item {
        padding-bottom: .5em;

        vertical-align: middle;
    }
    &__icon {
        display: inline-block;

        margin-right: 15px;
        padding: 5px;

        vertical-align: middle;

        border: 1px solid $color__black;
        border-radius: 50%;
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .col-lg-7 p {
        margin-top: 1.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 767px) {
        padding-top: 25px;
    }
}

.e-progress {
    position: relative;
    &__col {
        @media screen and (max-width: 419px) {
        .col-xs-6 {
            padding-right: 5px;
        }
        .col-xs-6.text-right {
            padding-left: 5px;
            padding-right: 15px;
        }
    }
    }
    &__icon {
        display: inline-block;

        margin-right: 15px;

        vertical-align: middle;
        svg {
            width: 32px;
            height: 32px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            & + strong {
                font-size: 15px;
            }    
            margin-right: 10px;
            svg {
                width: 28px;
                height: 28px;
            }

        }
        @media screen and (max-width: 419px) {
            & + strong {
                font-size: 14px;
            }    
            margin-right: 5px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
    &__header {
        position: absolute;
        z-index: -1;
        top: -125px;

        width: 100%;
        padding: 0 20px;

        border: none;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: $color__grey;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        @media screen and (max-width: 767px) {
            position: relative;
            top: 0;

            margin-top: 3em;
            padding-top: 15px;
        }
    }
    &__content {
        z-index: 1;

        margin-top: 25px;
        padding: 0;

        border: none;
        border-radius: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: $color__grey;
        box-shadow: 0 5px 6px rgba(50, 50, 93, .11), 0 2px 3px rgba(0, 0, 0, .08);
        @media screen and (max-width: 767px) {
            margin-top: 0;
            padding-top: 15px;
        }
    }
    &__top {
        padding: 0 20px 20px;

        border-bottom: 2px solid $color__white;

        &_last {
            padding: 20px;
        }
    }
    &__bar {
        position: relative;

        overflow: hidden;

        height: 52px;
        margin: 0 0 17px;

        border-radius: 6px;
        background-color: lightgrey;
        .epogress__progress {
            height: 100%;

            border-right: 2px solid $color__white;
            background-color: $color__red;
            &[style*='width: 100%'],
            &[style*='width:100%'] {
                border-right: none;
            }
        }
        .epogress__procent {
            position: absolute;
            top: 10px;

            width: 100%;

            text-align: center;

            color: $color__white;

            font-size: 32px;
            font-weight: 700;
            line-height: 1;

            text-stroke: 0 $color__grey_darknet smooth;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    &__bottom {
        padding: 20px;

        .btn-event {
            display: block;

            margin-bottom: 1.2em;

            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}