.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;

    transition: all .25s linear;

    font-family: Arial, Helvetica, Verdana, sans-serif;
    line-height: 1;
    &__account {
        max-height: 24px;

        transition: all .25s linear;

        background-color: $color__grey;
        a {
            text-transform: uppercase;

            color: $color__grey_darknet;
            &:hover,
            &:focus {
                color: $color__red;
            }
        }
        ul {
            margin-bottom: 0;
        }
        .row {
            padding: 5px 40px;
            @media (max-width: 767px) {
                padding: 5px 15px;
            }
        }
    }
    &__menu {
        position: relative;

        background-color: #fff;
        .logo {
            display: block;
            @media (min-width: 768px) and (max-width: 991px) {
                padding: 12px 0 0;
            }
            .svg-icon {
                width: 228px;
                height: 45px;
                @media (max-width: 767px) {
                    width: 177px;
                    height: 35px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    width: 152px;
                    height: 30px;
                }
            }
        }
        .row {
            padding: 10px 14px 10px 40px;
            @media (max-width: 767px) {
                padding: 5px 0 5px 15px;
            }
        }
        button {
            padding: 0 15px;

            text-transform: uppercase;

            color: $color__black;

            font-size: 20px;
            span {
                padding: 0;

                vertical-align: middle;
                &:first-child {
                    margin-right: 2px;
                }
            }
            &:focus,
            &:hover {
                text-decoration: none;

                color: $color__black;
            }
        }
        ul {
            margin: 0;

            background-color: $color__white;

            @media (max-width: 767px) {
                display: none
                
            }

            li {
                margin-left: -4px;

                text-transform: uppercase;

                font-size: 18px;
                @media (max-width: 767px) {
                    display: block;

                    padding: 2px 15px;
                }
                a {
                    display: block;

                    padding: .6em;

                    text-align: center;

                    color: $color__grey_darknet;
                    border-radius: 1.1em;
                    background-color: $color__white;

                    font-weight: 700;
                    &.active {
                        padding: .6em 1.3em;

                        color: $color__white;
                        background-color: $color__red;
                        &:hover,
                        &:focus {
                            color: $color__white;
                            background-color: $color__red_darknet;
                        }
                    }
                    &:hover,
                    &:focus {
                        color: $color__black;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 18px;
                    }
                }
            }
        }

        .pull-right {
            position: absolute;
            right: 0;
            @media screen and (min-width: 767px) {
                right: 25px;
            }
        }
    }
    &.fixed {
        box-shadow: 0 6px 14px rgba(0, 0, 0, .4);

        .header__account {
            max-height: 0;
            overflow: hidden;

            transition: all .25s linear;
        }
    }
}