.impact {
    padding-top: 60px;
    padding-bottom: 60px;
        @media screen and (max-width: 767px) {
            padding-top: 40px;
            padding-bottom: 20px;
        }
    &>.container {
        max-width: 1170px;
        padding: 0 15px;

        background-color: $color__white;
        p {
            font-size: 16px;
            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
        }
        &>p {
            font-size: 18px;
            line-height: 1.3;
            @media screen and (min-width: 768px) {
                font-size: 21px;
            }
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 20px;
        }
        @media screen and (min-width: 768px) {
            padding: 60px 25px;

            border-radius: 6px;
            box-shadow: $box__shadow;
        }
        @media screen and (min-width: 992px) {
            padding: 70px 30px;
        }
        @media screen and (min-width: 1200px) {
            width: inherit;
            padding: 80px;
        }
    }


    .border-circle {
        display: inline-block;

        margin-top: 2em;
        padding: 10%;

        text-align: center;

        border: 2px solid $black-color;
        border-radius: 50%;
        background-color: $color__grey;

        line-height: 1;
        svg {
            width: 130px;
            height: 130px;

            fill: $color__red;
        }
    }
}