.r-menu {
    .bg_red {
        .btn {
            display: block;

            width: 100%;
            &:hover,
            &:focus {
                border-color: $color__red;
                background-color: $color__white;
            }
        }
    }
    .bg_grey {
        overflow: hidden;

        margin-top: 30px;
        padding: 40px 30px;

        border-radius: 6px;
        background-color: $color__grey;

        font-size: 16px;
        line-height: 1.2;
        a {
            display: block;

            margin-bottom: 1em;

            text-transform: uppercase;

            color: $color__black;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover,
            &:focus {
                color: $color__grey_darknet;
            }
        }
        .btn {
            min-width: 100%;

            text-transform: uppercase;

            color: $color__red;
            border-color: $color__red;

            font-size: 16px;
            &:hover,
            &:focus {
                color: $color__red;
                border-color: $color__white;
            }
        }
    }
    &__menu {
        h3 {
            margin-top: 2.3em;
            margin-bottom: 1em;

            text-transform: uppercase;
            &:first-child {
                margin-top: 0;
            }
        }
        ul {
            margin: 0;
            padding: 0;

            list-style: none;
            a {
                color: $color__grey_darknet;

                font-size: 18px;
                font-weight: 500;
                line-height: 1.5;
                &:hover,
                &:focus {
                    color: $color__black;
                }
            }
        }
        @media screen and (max-width: 767px) {
            padding-top: 55px;
        }
    }
    &__desc {
        h3 {
            margin-top: 0;
            margin-bottom: 1em;

            text-transform: uppercase;
        }
        p {
            margin-bottom: 1em;

            font-size: 16.2px;
            font-weight: 300;
        }
        @media screen and (max-width: 991px) {
            padding-top: 55px;
        }
    }
    .col-lg-3 {
        padding-left: 30px;
        @media screen and (max-width: 767px) {
            padding-left: 15px;
        }
    }
}