$color__blue: #47b0d5;
$color__blue_darknet: #3b94b2;


$color__ghostwhite: #f2f2f2;

$color__dark: #000;
$color__black: #212121;

$color__red: #dd060b;
$color__red_darknet: #a91014;

$color__grey: #efefef;
$color__grey_darknet: #7a7a7a;

$color__white: #fff;

$box__shadow : 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);