.resources {
    h2 {
        margin-bottom: 0;
        &+hr {
            margin-top: 2px;
        }
    }
	.btn-event {
		background-color: $color__grey;
		border-color: $color__grey;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        width: 100%;
        margin-bottom: 2em;
        &:hover,
        &:focus {
		background-color: $color__grey_darknet;
		border-color: $color__grey_darknet;

        }
	}
    .col-sm-6.col-md-4:last-child .btn {
        margin-bottom: 0;
    }
        padding-top: 0;
}