.modal.fade.in {
overflow: hidden;
}
.modal.fade {
    padding: 0 !important;
}

.modal.fade .close {
    float: left;
}
.modal.fade .background {
    z-index: 0;
    width: 1920px;
    height: auto;
    svg {
        fill: $color__white;
    }
}
.modal.fade .modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $color__grey;
    @media screen and (min-width: 768px) {
    margin-right: -4px;}
}

.modal.fade .modal-header,
.modal.fade .modal-body {
    position: relative;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.modal.fade .modal-header {
    padding: 24px;

    text-transform: uppercase;

    border-bottom: none;
}

.modal.fade .modal-logo {
    float: left;
    svg {
        width: 152px;
        height: 30px;
    }
}

.modal.fade button.close {
    position: absolute;
    right: .75em;

    opacity: .9;
    color: $color__grey_darknet;

    font-size: 38px;
}

.modal.fade button.close:hover {
    opacity: .2;
}

.modal.fade .modal-content {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    border: none;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0);
}

.modal.fade .modal-content h5 {
    color: $color__grey;

    font-size: 24px;
}

.modal {
    text-align: center;

    background-color: rgba(255, 255, 255, .2);
}

.modal-dialog {
    display: inline-block;

    text-align: left;
    vertical-align: middle;
}


@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;

        height: 100%;

        content: ' ';
        vertical-align: middle;
    }
}