extends ../layout.jade

block title
	title= mainTitle

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline
		include ../blocks/_content
		include ../blocks/_footer
		include ../blocks/_scripts