extends ../layout.jade

block title
	title #{mainTitle} | Page 4

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline--4
		include ../blocks/_content--4
		include ../blocks/_footer
		include ../blocks/_scripts