extends ../layout.jade

block title
	title #{mainTitle} | Page 2

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline--2
		include ../blocks/_content--2
		include ../blocks/_footer
		include ../blocks/_scripts