extends ../layout.jade

block title
	title #{mainTitle} | Page 3

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline--3
		include ../blocks/_content--3
		include ../blocks/_footer
		include ../blocks/_scripts