extends ../layout.jade

block title
	title #{mainTitle} | Page 5

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline--5
		include ../blocks/_content--5
		include ../blocks/_footer
		include ../blocks/_scripts