extends ../layout.jade

block title
	title #{mainTitle} | Page 6

block body
	body.page

		include ../blocks/_header
		include ../blocks/_headline--6
		include ../blocks/_content--6
		include ../blocks/_footer
		include ../blocks/_scripts