// Colors
// --------------------------------------------------

// brand
$brand: #ac162c;
$link: #7961f2;

// text
$text: #605e5e;

// bg
$bg: #eee;

// footer
$footerBg: #E3E3E3;
$footerText: #313131;
$footerLink: #EA7F06;

// button
$btn: #FFDFB9;

// Typography
// --------------------------------------------------
$baseFF: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
$baseFS: 24px;
$baseLH: em(28,24);
$titleFS: Georgia, Times, 'Times New Roman', serif;